<launch>
    <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server">
        <param name="link_name" value="base_link" />
    </node>
    <group ns="ds4">
    <node pkg="joy" type="joy_node" name="joy_node" />
    <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy"/>
  </group>
</launch>