 <launch>
  <!-- Launch Gazebo with the specified world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" default="0" />
    <arg name="gui" default="true" />
    <arg name="use_sim_time" default="$true" />
    <arg name="headless" default="$false" />
    <arg name="world_name" value="$(find toaster-gazebo)/worlds/tunnel.world" />
  </include>

  <!-- Spawn Robot -->
  <include file="$(find toaster-gazebo)/launch/spawn_toaster.launch">
    <arg name="x" value="0" />
    <arg name="y" value="0" />
    <arg name="z" value="1.0" />
    <arg name="yaw" value="0" />
  </include>

  <include file="$(find toaster-navigation)/launch/gmapping.launch"/>
  <!--- Run Move Base -->
  <include file="$(find toaster-navigation)/launch/move_base.launch" />
</launch>