<launch>
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="2" />
  <arg name="yaw" default="0" />

  <!-- Load description, controllers, and teleop nodes. -->
  <include file="$(find toaster-description)/launch/description.launch">
  </include>
  <include file="$(find toaster-control)/launch/control.launch" />
  <include file="$(find toaster-control)/launch/teleop.launch">
  <arg name="joystick" value="$(arg joystick)" />  </include>

  <!-- Spawn Robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
	      args="-urdf -model toaster -param robot_description -x $(arg x) -y $(arg y) -z $(arg z) -R 0 -P 0 -Y $(arg yaw)" />
</launch>